* {
  font-family: "Poor Story", cursive;
}

body {
  background-color: #9b070f;
}

.envelope {
  width: 200px;
  height: 200px;
  background-image: url("https://pngimg.com/uploads/envelope/envelope_PNG18366.png");
  background-size: cover;
  background-position: center;
  margin: auto;
  margin-top: 200px;
  cursor: pointer;
}

.envelope-msg {
  color: white;
  text-align: center;
  font-size: 24px;
}

.letter-close {
  display: block;
}

.letter-open {
  display: none;
}

.character {
  background-color: white;
  width: 300px;
  height: 200px;

  background-image: url("https://i.pinimg.com/originals/c8/fb/93/c8fb93ec1f0625fb6c4bd290d55584b4.gif");
  background-size: cover;
  background-position: center;

  margin: auto;
  margin-top: 100px;

  border-radius: 100px;
  border: 5px solid white;
  box-shadow: 0px 0px 10px 2px white;
}

h1 {
  color: white;
  text-align: center;
  margin-bottom: 30px;
  margin-top: 30px;
}

.msgBox {
  /* font-family: "Nanum Pen Script", cursive; */
  width: 400px;
  background-color: ivory;
  margin: auto;
  padding: 30px;
  color: brown;
  font-size: 20px;
  line-height: 30px;
  box-shadow: 0px 0px 10px 2px white;
}

.from {
  text-align: right;
  margin-bottom: 0px;
}

@media screen and (max-width: 760px) {
  .msgBox {
    width: 300px;
    padding: 20px;
  }
  .character {
    background-color: white;
    width: 210px;
    height: 140px;
    margin-top: 70px;
  }
  h1 {
    font-size: 28px;
  }
  .envelope {
    margin: 150px auto 0px auto;
  }
}
